
<head>
    <title>FoodTrucker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet"href="../public/css/style.css" type="text/css"  />

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <!-- icons set: https://material.io/tools/icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--ikonka pizzy-->
    <link rel="shortcut icon" href="https://thumbs.dreamstime.com/z/pizza-plasterka-linii-ikona-jedzenie-i-nap%C3%B3j-fast-food-98623348.jpg">

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>

    <script src="/pai/public/js/script.js"></script>
    <script src="/pai/public/js/deleteFoodTruck.js"></script>


</head>